* {
    margin: 0; 
    padding: 0;
     
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
	font-family: "Open Sans";
	font-weight: 200;
	background-color: white;
}

a{
	color:black;
	text-decoration: underline;
}
footer a{
	color:white;
	text-decoration: underline;
}
h1{
	margin-bottom: 0.5em;
}

p{
	line-height: 1.6;
}

p + p{
	margin-top: 1.25em;
}

p + h3, p + h2{
	margin-top:1.25em;
}
.video + h3{
	margin-top:1.25em;
}
ol{
	border-left:.18em solid #ccc;
}
ol > li{
	margin-left: 2.5em;
}

section + h1{
	margin-top: 2.5em;
	border-top:#CCC solid 0.05em;
	padding-top:0.5em;
}

h1 + section{
	margin-top: 2em;
}

aside section + section{
	margin-top: 2em;
}

body>header{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	border-bottom:.1em solid #AAA;
	z-index: 100;
}
body>header:hover{
	background-color: rgb(70,70,70) !important;
}
body>header .logo{
	float:left;
	color:#f7a404;
	font-weight: 100;
	font-size: 2.5em;
	margin-right: .5em;
}
.pull_right{
	float: right;
}
body>header nav{
	margin-left:5em;
	margin-right:5em;

}
body>header nav ul{
	list-style: none;
}
body>header nav ul>li{
	display: inline-block;
	margin-right:1.5em;
	color:white;
	padding-top:1em;
	padding-bottom:1em;
}
body>header nav ul>li:hover{
	padding-bottom:0.8em;
	border-bottom: 0.2em solid white;
}
body>header nav ul>li a{
	color:white;
	text-decoration: none;
}
body>header nav ul>li:hover a{
	color:white;
	text-decoration: none;
}
body>header nav ul>li:last-child{
	margin-right: 0;

}
.stackbuttonContainer{
	margin-top: 0.7em;
}
.stackbuttonContainer a{
	color:white;
	text-decoration: none;
	font-size: 30px;
	line-height: 0.3;
	display: none;
}

.content:after{
	content:" ";
	clear:both;
	width: 100%;
	height: 1px;
	display: block;
}


.content>section{
	float:left;
	width: 78%;
	background-color: white;
}

legend{
	font-weight: bold;
}

article{
	margin:2em;
	-webkit-column-count:3; /* Chrome, Safari, Opera */
	-moz-column-count:3; /* Firefox */
	column-count:3;
}

video{
	width: 100%;
}

img{
	width: 100%;
}

img:hover{
	box-shadow: 0 0 1em 0 black;
}

.jumbo{
	position: relative;
	height: 100%;
}

.jumbo_img{
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 0;
	background-position: top center;
	background-size: cover;
	box-shadow: inset 0px 0px 150px 0px black;
	background-attachment: fixed;
	overflow: hidden;
}
.jumbo_img h1{
	color: white;
	margin-left: 1em;
	font-size: 10vw;
	font-weight: 500;
	text-shadow:black 0 0 .5em;
	position: relative;
	bottom: 15%;
	position: absolute;
	width: 100%;
}
.button{
	background-color:#f7a404;
	color:#464646;
	text-decoration: none;
	padding:.5em;
	display: block;
	margin-top: 0.5em;
}

aside{
	float: right;
	width: 20%;
	padding-top: 2em;
	border-left: 0.1em solid #CCC;
	
	background-color: #EEE;
}
aside>h1{
	padding-left:0.5em;
}
aside section{
	padding: 1em;
}
aside section:nth-of-type(odd){
	background-color: #DDD;
	padding-left: 1em;
}

footer{
	background-color: #2f2f2f;
	color:white;
	padding-top: 1em;
}

footer:before{
		content:" ";
	clear:both;
	width: 100%;
	height: 1px;
	display: block;
}

footer ul{
	list-style: none;
}

footer h1{
	font-weight: 100;
}


footer ul{
	padding:inherit;
	margin:inherit;
}



.columns{
	margin: 0px auto;
	width: 1080px;
}
.columns:after{
	content:" ";
	clear:both;
	width: 100%;
	height: 1px;
	display: block;
}
.column{
	float:left;
	width: 25%;
	margin-bottom: 2em;
}

.columns .column:nth-of-type(5n){
	clear:both;
}

input, button{
	padding:0.5em;
}

section>form{
	padding:1.25em;
	background-color: #EEE;
	border-top: 0.1em solid #CCC;
	width: 100%;
}
form fieldset{
	border:.06em solid black;
	border-radius: 1.25em;
	padding:1.25em;
	margin-bottom: 1.25em;
}

form input{
	color:#999;
	font-size: 1em;
	padding: 0.31em;
	border:0.1em solid #CCC;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
	margin-bottom:0.5em;
}

form label{
	display: block;
}
form label:after{
	content:":";
}
form fieldset:active input{
	background-color: black;
}
form input:focus{
	color:#000;
	font-size: 1.5em;
}
form textarea{
	border:0.1em solid #CCC;
}
input + label{
	padding-top:1em;
}
input[type="radio"] + label{
	display: inline;
}

@media (max-width: 1080px) {
	.columns{
		margin: 0px auto;
		width: 960px;
	}
	.columns:after{
		content:" ";
		clear:both;
		width: 100%;
		height: 1px;
		display: block;
	}
	.column{
		float:left;
		width: 25%;
		margin-bottom: 2em;
	}
}

@media (max-width: 1000px) {
	body>header{
		background-color: rgb(70,70,70) !important;
	}
	aside{
		float:none;
		width: 100%;
	}
	aside{
		margin-left: 0;
		padding-left:0;
	}
	aside>section, aside>h1{
		margin:1em;
    }

	.content>section{
		float:none;
		width: 100%;
		background-color: white;
	}
	section{
		opacity: 1 !important;
	}

	body>header nav {
		margin-left: 1em;
		margin-right: 1em;
	}
	body>header .logo{
		float: left;
	}
	body>header nav ul{
		display: none;
	}

	body>header nav .stackbutton{
		display: block;
	}
	body>header nav .stackbuttonClose{
		display: none;
	}

	body>header nav:target .stackbutton{
		display: none;
	}
	body>header nav:target .stackbuttonClose{
		display: block;

	}
	body>header nav ul{
		opacity: 0;
	}
	body>header nav:target ul{
		display: block;
		opacity: 1;
	}

	body>header ul:before{
		content:" ";
		clear:both;
		width: 100%;
		height: 1px;
		display: block;
	}

	body>header nav ul>li{
		display: block;
	}

	.aanmelden{
		display: none;
	}

	video{
		width: 100%;
	}
	img{
		width: 100%;
	}
	article{
		margin:2em;
		-webkit-column-count:2; /* Chrome, Safari, Opera */
		-moz-column-count:2; /* Firefox */
		column-count:2;
	}
}

@media (max-width: 960px) {
	.columns{
		margin: 0px auto;
		width: 600px;
	}
	.columns:after{
		content:" ";
		clear:both;
		width: 100%;
		height: 1px;
		display: block;
	}
	.column{
		float:left;
		width: 50%;
		margin-bottom: 2em;
	}
}

@media (max-width: 600px) {
	footer .container{
		margin-left: 2em;
		margin-right: 2em;
	}
	.columns{
		
		width: 100%;
	}
	.columns:after{
		content:" ";
		clear:both;
		width: 100%;
		height: 1px;
		display: block;
	}
	.column{
		width: 100%;
		margin-bottom: 2em;
	}
	.jumbo_img{
		position: absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		z-index: 0;
		background-position: center center;
		background-size: cover;
		_background-attachment: fixed;
	}
	article{
		margin:2em;
		-webkit-column-count:1; /* Chrome, Safari, Opera */
		-moz-column-count:1; /* Firefox */
		column-count:1;
	}
}

@media print{

	nav, .jumbo, video, aside, footer{
		display: none;
	}
	img{
		float:right;
		width: 16em;
		margin-right: 1em;
	}
}

article.single{
	-webkit-column-count:1!important; /* Chrome, Safari, Opera */
		-moz-column-count:1!important; /* Firefox */
		column-count:1!important;
}
section.single{
	width: 100%;
}

.no-js body>header{
	background-color: rgb(70,70,70) !important;
}

.no-js .jumbo{
	height:85vh;
}