*{
	padding:0;
	margin:0;
}
html{
	-webkit-font-smoothing: antialiased;
	font-family: helvetica;
	
}
a{
	color:black;
	font-weight: bold;
}

body{
	margin-top: 3em;
	margin-bottom: 3em;
}

/* waarom is er geen h*? */
h1, h2, h3, h4, h5{
	text-transform: uppercase;
	text-shadow:0 0 .1em black;
	font-weight: normal;
}
p{
	line-height: 2;
}

p em{
	border-left:0.18em solid #ccc;
	padding-left:1.6em;
}

article p:first-child{
	font-weight: bold;
}
section > h1{
	font-size:45pt;
}
section{
	width: 960px;
	margin:0px auto;
}


p + p{
	margin-top: 1.25em;
}

p + h3, p + h2{
	margin-top:1.25em;
}

ol{
	border-left:.18em solid #ccc;
}
ol > li{
	margin-left: 2.5em;
}
img{
	width: 100%;
}
video{
	width: 100%;
	margin-bottom: 3.125em;
	margin-top: 3.125em;
}

form{
	margin:1.25em;
}
form fieldset{
	border:.06em solid black;
	border-radius: 1.25em;
	padding:1.25em;
	margin-bottom: 1.25em;
}

form input{
	color:#999;
	font-size: 10pt;
	padding: 0.31em;
	border-radius: 1.6pt;
	border:0.625em solid black;
	transition:all 1s;
}

form label{
	display: block;
}
form label:after{
	content:":";
}
form fieldset:active input{
	background-color: black;
}
form input:focus{
	color:#000;
	font-size: 20pt;
}
form textarea{
	border-radius: 1.6pt;
	border:0.625em solid black;
}

input[type="radio"] + label{
	display: inline;
}

